/Trunk/Trunk/Lib
/Trunk/Trunk/Doc
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.Log4NetService/obj/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.Log4NetService/bin/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.Language/obj/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.Language/bin/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.Core.Base/obj/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.Core.Base/bin/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.BaseUtility/obj/Debug
/Trunk/Trunk/Source/01.Framework/XLY.SF.Framework.BaseUtility/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/X86DllServer/obj/x86/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/X86DllServer/bin/x86/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/X64DllService/X64Service/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/X64DllService/X64Service/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/DllClient/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/DllClient/bin/Debug
/Trunk/Trunk/Source/11.Service/12.Persistable/XLY.SF.Project.Models/obj/Debug
/Trunk/Trunk/Source/11.Service/12.Persistable/XLY.SF.Project.Models/bin/Debug
/Trunk/Trunk/Source/11.Service/11.Domains/XLY.SF.Project.Domains/obj/Debug
/Trunk/Trunk/Source/11.Service/11.Domains/XLY.SF.Project.Domains/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataReport/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataReport/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataPump/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataPump/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataMirror/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataMirror/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataFilter/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataFilter/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.Services/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.Services/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.Devices/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.Devices/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataView/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataView/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataExtract/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/XLY.SF.Project.DataExtract/bin/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.Cottage/obj/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.Cottage/bin/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.BlackBerry/obj/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.BlackBerry/bin/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.Android/obj/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.Android/bin/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.Adapter/obj/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.Adapter/bin/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.ScriptEngine/obj/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.ScriptEngine/bin/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.IOS/obj/Debug
/Trunk/Trunk/Source/11.Service/14.Plugin/XLY.SF.Project.Plugin.IOS/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/DllServerHost/obj/x86/Debug
/Trunk/Trunk/Source/11.Service/12.Persistable/XLY.SF.Project.Persistable/obj/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/XLY.SF.Project.ViewDomain/obj/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/XLY.SF.Project.ViewDomain/bin/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/XLY.SF.Project.Proxy/XLY.SF.Project.ProxyService/obj/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/XLY.SF.Project.Proxy/XLY.SF.Project.ProxyService/bin/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/XLY.SF.Project.CaseManagement/obj/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/XLY.SF.Project.CaseManagement/bin/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/ProjectExtend/obj/Debug
/Trunk/Trunk/Source/21.Presentation/ProjectContext/ProjectExtend/bin/Debug
/Trunk/Trunk/Source/21.Presentation/Theme/XLY.SF.Project.Themes/obj/Debug
/Trunk/Trunk/Source/21.Presentation/Theme/XLY.SF.Project.Themes/bin/Debug
/Trunk/Trunk/Source/21.Presentation/ViewModel/XLY.SF.Project.ViewModels/obj/Debug
/Trunk/Trunk/Source/21.Presentation/View/XLY.SF.Project.Views/obj/Debug
/Trunk/Trunk/Source/21.Presentation/View/XLY.SF.Project.DataDisplayView/obj/Debug
/Trunk/Trunk/Source/21.Presentation/View/XLY.SF.Project.PreviewFiles/obj/Debug
/Trunk/Trunk/Source/23.Shell/XLY.SF.Shell/obj/x64/Debug
/Trunk/Trunk/Source/23.Shell/XLY.SF.Shell/packages/MSTest.TestFramework.1.2.0
/Trunk/Trunk/Source/31.Build/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/obj/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/bin/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.UnitTest/obj/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.UnitTest/bin/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/FilePreviewTest/packages
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/FilePreviewTest/FilePreviewTest/obj/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/TestHelper/TestHelper/obj/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/TestHelper/TestHelper/bin/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/FilePreviewTest/.vs/FilePreviewTest/v15
/Trunk/Trunk/Source/23.Shell/XLY.SF.Shell/.vs/XLY.SF.Shell/v15/Server/sqlite3
/Trunk/Trunk/Source/23.Shell/XLY.SF.Shell/.vs/XLY.SF.Shell/v15/.suo
/Trunk/Trunk/Tools/CopyDll/.vs/CopyDll/v15
/Trunk/Trunk/Tools/CopyDll/CopyDll/CopyDll.csproj.vspscc
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/MirrorTest/MirrorTest/obj/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/MirrorTest/MirrorTest/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/X86DllServer/obj/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/X86DllServer/bin/Debug
/Trunk/Trunk/Source/11.Service/13.Core/DllService/DllServerHost/obj/Debug
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/MirrorTest/.vs/MirrorTest/v15
/Trunk/Trunk/Tools/CopyDll/bin
/Trunk/Trunk/Tools/CopyDll/CopyDll/obj
/Trunk/Trunk/Source/41.Test/XLY.SF.WpfTest/LiTao/MirrorTest/packages
