<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="taskProxy" value="transceiver" />
    <add key="extractionService" value="F:\Source\Workspaces\SPF-PRO\Trunk\Trunk\Source\22.Tools\XLY.SF.Project.DeviceExtractionService\bin\Debug\XLY.SF.Project.DeviceExtractionService.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>