<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="isolatedTask" type="XLY.SF.Project.IsolatedTaskEngine.Common.Configuration.IsolatedTaskSection,XLY.SF.Project.IsolatedTaskEngine.Common"/>
  </configSections>
  <isolatedTask entryType="XLY.SF.Project.IsolatedTaskEngine.Common.Configuration.IsolatedTaskSection,XLY.SF.Project.IsolatedTaskEngine.Common">
    <params maxParallelTask="10"/>
  </isolatedTask>
</configuration>